<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <h1>Add Your Message</h1>
    <form action="/new" method="POST">
      <label for="author"
        >Author:
        <input type="text" id="author" name="userName" />
      </label>
      <textarea name="userMessage" id="message"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
