<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div class="full-block">
      <h1>Mini Message Board</h1>
      <div>
        <h1>User Messages</h1>
        <button>
          <a href="/new">Add new Message</a>
        </button>
      </div>
      <% messages.forEach(message => { %>
      <div class="individual-block">
        <h1><%= message.message %></h1>
        <p><%= message.username %></p>
        <% if (message.date_added) { %>
          <% const date = message.date_added.toISOString().split('T')[0]; %>
          <p><%= date %></p>
        <% } %>
        <a href="/messages/<%= message.id %>" class="button">Open this Message</a> <!-- Styled link -->
      </div>
      <% }) %>
    </div>
  </body>
</html>
