<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h1><%=message.message%></h1>
      <p><%=message.username%></p>
      <p>Created at: <%=message.date_added%></p>
    </div>
  </body>
</html>
